body {
    color: white;
}

.bg-img {
    background-image: url("./splash-bg.jpg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.card-text,
.card-title {
    color: black;
}

#project-teaser {
    height: 15rem;
}

.blog-img {
    background-image: url("blue_background.jpg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.border-custom {
    border-image: linear-gradient(0deg, rgba(230,150,25,1) 0%, rgba(4,96,217,1) 50%, rgba(230,150,25,1) 100%) 30;
    border-width: .5em;
    border-style: solid;
}

.navbar-custom {
    border-image: linear-gradient(90deg, rgba(230,150,25,1) 0%, rgba(4,96,217,1) 50%, rgba(230,150,25,1) 100%) 30;
    border-width: .5em;
    border-style: solid;
    background-color: rgba(255, 255, 255, .9);
    color: black;
}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.nav-link {
    font-size: 3vh;
}

h1 {
    color: white;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 11vh;
}

aside {
    float: right;
}

#box>p {
    font-size: 1.3em;
}

#box {
    height:fit-content;
}