@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

body {
    /* background-color: #001D3D; */
    color: white;
    overflow-x: hidden;

}

.bg-img {
    object-fit: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.nav-link {
    font-size: 3vh;
}

#start {
    height: 55vh;
}

@keyframes bounce {
    0% {
        transform: translate(0px, -0px);
    }

    25% {
        transform: translate(0px, -35px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    75% {
        transform: translate(0px, -15px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

#chevron {
    height: 36vh;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

h1 {

    color: white;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 11vh;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

ul {
    list-style-type: none;
}

#about {
    background: linear-gradient(180deg, #000814, #003566);
}

.row {
    padding-top: 2vh;
    margin: 0px;
}


.zig {
    padding: 0px;
    clip-path: polygon(100% 0, 100% 100%, 5% 100%, 0% 50%, 5% 0);
    height: 50vh;
    /* background-color: #FFC300; */
    background: linear-gradient(to right, rgba(255, 195, 0, 0.7), rgba(255, 195, 0, 0));
}


.zig>div {
    padding-left: 3vw;
    /* background-color: #003566; */
    position: relative;

    /* equal to border thickness */
    width: 98%;
    /* container height - (border thickness * 2) */
    height: 98%;
    /* container height - (border thickness * 2) */
    clip-path: polygon(100% 0, 100% 100%, 5% 100%, 0% 50%, 5% 0);

}

.zag {
    padding: 0px;
    clip-path: polygon(0 0, 0 100%, 95% 100%, 100% 50%, 95% 0);
    height: 50vh;
    /* background-color: #FFC300; */
    background: linear-gradient(to left, rgba(255, 195, 0, 0.7), rgba(255, 195, 0, 0));

}

.zag>div {
    padding-right: 3vw;
    /* background-color: #000814; */
    position: relative;

    /* equal to border thickness */
    width: 98%;
    /* container height - (border thickness * 2) */
    height: 98%;
    /* container height - (border thickness * 2) */
    clip-path: polygon(0 0, 0 100%, 95% 100%, 100% 50%, 95% 0);

}

/* color palette */
/* https://coolors.co/palette/000814-001d3d-003566-ffc300-ffd60a */