@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

body {
    background-color: #001D3D;
    color: white;
    overflow-x: hidden;
}

.bg-img {
    object-fit: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.nav-link {
    font-size: 3vh;
}

#start {
    height: 55vh;
}

@keyframes bounce {
    0% {
        transform: translate(0px, -0px);
    }

    25% {
        transform: translate(0px, -35px);
    }

    50% {
        transform: translate(0px, 0px);
    }

    75% {
        transform: translate(0px, -15px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

#chevron {
    height: 36vh;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

h1 {

    color: white;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 11vh;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

#about {
    margin-top: 2vh;
    margin-left: 2vh;
}

.zig {
    padding-left: 10vh;
    clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0% 50%, 10% 0);
    height: 50vh;
    background-color: #003566;
    z-index: -1;
    
}

.zag {
    padding-right: 10vh; 
    margin-left: 2vh;
    clip-path: polygon(0 0, 0 100%, 90% 100%, 100% 50%, 90% 0);
    height: 50vh;
    background-color: #003566;
    z-index: -1;
}

p {
    
    font-size: 20px;
}

/* color palette */
/* https://coolors.co/palette/000814-001d3d-003566-ffc300-ffd60a */